{% extends "log/main/layout.html" %}
{% block body %}
<style>
.demo{padding:5px 10px;background:#FFF;margin:20px;text-align:center;border:solid 1px #CCC;border-radius:10px;}
.pagination-box .pagination{margin-right:10px;}
.pagination-box { margin-left: 2%; }
.log-countent { height: 100%; overflow: hidden; }
.log-table { height: 90%; overflow: auto; }
.table>tbody>tr>td { text-align: center; }
.table>thead>tr>th { text-align: center; }
</style>
<div class="log-countent">
	<div class="log-table">
		<div style="padding: 10px 15px 10px;">
		    <form class="bs-example bs-example-form" role="form">
		        <div class="row">
		            <div class="col-lg-4">
		                <div class="input-group">
		                    <input type="text" class="form-control" id="searchkey" placeholder="搜索除 ‘编号’ 外的关键字">
		                    <span class="input-group-btn">
		                        <button class="btn btn-default search-btn" type="button">搜索</button>
		                    </span>
		                </div>
		            </div>
		        </div>
		    </form>
		</div>
		<table class="table">
		   <thead class="log-table-thead">
		      <!-- <tr>
		         <th>测试</th>
		         <th>城市</th>
		         <th>名称</th>
		         <th>城市</th>
		         <th>名称</th>
		         <th>城市</th>
		         <th>名称</th>
		         <th>城市</th>
		         <th>名称</th>
		         <th>城市</th>
		         <th>城市</th>
		         <th>名称</th>
		         <th>城市</th>
		         <th>名称</th>
		         <th>城市</th>
		      </tr> -->
		   </thead>
		   <tbody class="log-table-tbody">
		      <!-- <tr>
		         <td>Tanmay</td>
		         <td>Bangalore</td>
		         <td>Tanmay</td>
		         <td>Bangalore</td>
		         <td>Tanmay</td>
		         <td>Bangalore</td>
		         <td>Tanmay</td>
		         <td>Bangalore</td>
		         <td>Tanmay</td>
		         <td>Bangalore</td>
		         <td>Bangalore</td>
		         <td>Tanmay</td>
		         <td>Bangalore</td>
		         <td>Tanmay</td>
		         <td>Bangalore</td>
		      </tr> -->
		   </tbody>
		</table>
	</div>
	<div class="pagination-box ng-isolate-scope page-bar" page-id="pageId" page-size="pageSize" page-record="recordCount" page-url-template="urlTemplate">
		<!-- <ul class="pagination">
			<li ng-class="page.style" ng-repeat="page in pageList" class="ng-scope"><a href="" class="ng-binding">首页</a></li>
			<li ng-class="page.style" ng-repeat="page in pageList" class="ng-scope"><a href="" class="ng-binding">上一页</a></li>
			<li ng-class="page.style" ng-repeat="page in pageList" class="ng-scope active"><a href="" class="ng-binding">1</a></li>
			<li ng-class="page.style" ng-repeat="page in pageList" class="ng-scope"><a href="" class="ng-binding">2</a></li>
			<li ng-class="page.style" ng-repeat="page in pageList" class="ng-scope"><a href="" class="ng-binding">3</a></li>
			<li ng-class="page.style" ng-repeat="page in pageList" class="ng-scope"><a href="" class="ng-binding">4</a></li>
			<li ng-class="page.style" ng-repeat="page in pageList" class="ng-scope"><a href="" class="ng-binding">5</a></li>
			<li ng-class="page.style" ng-repeat="page in pageList" class="ng-scope"><a href="" class="ng-binding">6</a></li>
			<li ng-class="page.style" ng-repeat="page in pageList" class="ng-scope"><a href="" class="ng-binding">7</a></li>
			<li ng-class="page.style" ng-repeat="page in pageList" class="ng-scope"><a href="" class="ng-binding">8</a></li>
			<li ng-class="page.style" ng-repeat="page in pageList" class="ng-scope"><a href="" class="ng-binding">9</a></li>
			<li ng-class="page.style" ng-repeat="page in pageList" class="ng-scope"><a href="" class="ng-binding">10</a></li>
			<li ng-class="page.style" ng-repeat="page in pageList" class="ng-scope"><a href="" class="ng-binding">下一页</a></li>
			<li ng-class="page.style" ng-repeat="page in pageList" class="ng-scope"><a href="" class="ng-binding">尾页</a></li>
		</ul>
		<ul class="pagination ng-scope" ng-if="pageList[0]">
			<li class="page-count disabled"><span>共 <b class="ng-binding">10</b> 条记录 / 共 <b class="ng-binding">10</b> 页</span></li>
		</ul> -->
	</div>
</div>
<script type="text/javascript" src="/static/javascript/log/list.js?"></script>
{% endblock %}